@import '../../../colors';
@import '../../../variables';

.Button {
  text-align: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  // &__text {
  //   width: 148px;
  //   height: 48px;
  //   border-radius: 29px;
  //   background-color: transparent;
  //   color: $secondary;
  //   font-size: 18px;
  //   font-weight: bold;
  //   @media (min-width: $breakpoint-web) {
  //     width: 180px;
  //     height: 58px;
  //     font-size: 16px;
  //   }
  // }
}
