@import '../../colors';
@import '../../variables';

.Podcast {
   
   padding: 51px 20px;

   &__container{
      margin: 20px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
}
